.table{
  width:100%;
  text-align: center;
  margin-top:10px;
}
.table thead th {
  border:1px solid #000;
  padding-top: 6px ;
  padding-bottom: 6px ;
}

.table{
  width: 100%;
  overflow-x: scroll,
}
table{
  width: 100%;
}